<footer>
    <div class="footer-container">
        <div class="left-col">
            <img src="../images/logo1.jpeg" style="width: 100px;">
            <br><br>
            <div class="logo"></div>
            <div class="social-media">
                <a href="#"><img src="../images/fb.png"></a>
                <a href="#"><img src="..\images\insta.png"></a>
                <a href="#"><img src="..\images\tt.png"></a>
                <a href="#"><img src="..\images\ytube.png"></a>
                <a href="#"><img src="..\images\linkedin.png"></a>
            </div><br><br>
            <p class="rights-text">Copyright © 2023 Created By Edzy Team, All Rights Reserved.</p>
            <br><p><img src="../images/location.png">Guru Gobind Singh Indraprastha  University<br>Delhi</p><br>
            <p><img src="../images/phone.png"> +91-1234-567-890<br><img src="../images/mail.png">&nbsp; edzyco@gmail.com</p>
        </div>
        <div class="right-col">
            <h1 style="color: #fff">Our Newsletter</h1>
            <div class="border"></div><br>
            <p>Enter Your Email to get our News and updates.</p>
            <form class="newsletter-form" method="post" action="/mailsub">
                <input class="txtb" type="email" name="email" placeholder="Enter Your Email">
                <input class="btn" type="submit" value="Submit">
                <!-- <button class="btn" type="submit" value="Submit"></button> -->
            </form>
        </div>
    </div>
</footer>