<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="png" href="images/books.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="about_us.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap"   rel="stylesheet"/>
    <title>Aboutus</title>
</head>
<body>
  
<div class="ct-pageWrapper" id="ct-js-wrapper">
    <section class="company-heading intro-type" id="parallax-one">
       <div class="container">
          <div class="row product-title-info">
             <div class="col-md-12">
                <h1>
                   About Us
                </h1>
             </div>
          </div>
       </div>
       <div class="parallax" id="parallax-cta" style="background-image:url(https://elements-video-cover-images-0.imgix.net/files/5f2a5b2a-d6d2-4172-9fb5-273faa414aa0/inline_image_preview.jpg?auto=compress%2Cformat&fit=min&h=394&w=700&s=c9137c6de8bc1156d92e76efb113f339);">
          &nbsp;
       </div>
    </section>
    <section class="story-section company-sections ct-u-paddingBoth100 paddingBothHalf noTopMobilePadding" id="section">
       <div class="container text-center">
          <h2>
             WHAT DRIVES US
          </h2>
          <h3>
             Lorem ipsum - dolor
          </h3>
          <div class="col-md-8 col-md-offset-2">
             <div class="red-border">
                &nbsp;
             </div>
             <p class="ct-u-size22 ct-u-fontWeight300 marginTop40">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sed libero vel ex maximus vulputate nec eu ligula. Vestibulum elementum nisi ut fermentum lobortis. Sed quis iaculis felis. 
             </p>
             <!-- <a class="ct-u-marginTop60 btn btn-solodev-red btn-fullWidth-sm ct-u-size19" href="#">Learn More</a> -->
          </div>
       </div>
    </section>  
    <div id="makeitfull">
        <a href="#review_section"><img src="images/icon/makeitfull.png"></a>
    </div>
    <div class="review">
        <div class="diffSection" id="review_section">
            <center><p style="font-size: 40px; padding: 100px; padding-bottom: 40px; color: #2E3D49;">What the Students Say About Us?</p></center>
        </div>
        <div class="rev-container">
            <div class="rev-card">
                <div class="identity">
                    <img src="images/creator/humanNotExist1.jpg"><p>Sophie Daniel</p>
                    <h6>Java</h6>
                    <div class="rating"><img src="images/icon/star.png"><img src="images/icon/star.png"><img src="images/icon/star.png"><img src="images/icon/star.png"><img src="images/icon/star.png"></div>
                </div>
                <div class="rev-cont">
                    <p id="title">Review:</p>
                    <p id="content">
                        I did Java Fundamenetal course with Rishab Sir. It was a great experience. The brain teasers and assignments, actually the whole lot of content was really good. Some problems were challenging yet interesting. Was explained very well where ever I stuck...
                    </p>
                </div>
            </div>
            <div class="rev-card">
                <div class="identity">
                    <img src="images/creator/humanNotExist2.jpg"><p>Clayton Clair</p>
                    <h6>C/C++</h6>
                    <div class="rating"><img src="images/icon/star.png"><img src="images/icon/star.png"><img src="images/icon/star.png"><img src="images/icon/star.png"><img src="images/icon/star.png"></div>
                </div>
                <div class="rev-cont">
                    <p id="title">Review:</p>
                    <p id="content">
                        When I was watching "Dear Zindagi", I could relate Sharukh Khan to Arnav Bhaiya. The way Sharukh Khan was giving life lessons to Alia Bhatt, in the same way Arnav Bhaiya will give coding life lessons which will guide you throughout your code life...
                    </p>
                </div>
            </div>
            <div class="rev-card">
                <div class="identity">
                    <img src="images/creator/humanNotExist3.jpg"><p>Devyn Sethi</p>
                    <h6>JEE</h6>
                    <div class="rating"><img src="images/icon/star.png"><img src="images/icon/star.png"><img src="images/icon/star.png"><img src="images/icon/star.png"><img src="images/icon/star.png"></div>
                </div>
                <div class="rev-cont">
                    <p id="title">Review:</p>
                    <p id="content">
                        Edzy was an amazing experience for me. I belong to electronics department and had a little experience in coding but I think it has helped me think things through in a much more analytical manner. Coding is important no matter which branch you are in. It gives you a better understanding about how to approach a problem...
                    </p>
                </div>
            </div>
            <div class="rev-card">
                <div class="identity">
                    <img src="images/creator/humanNotExist4.jpg"><p>Rylee Phillips</p>
                    <h6>Python</h6>
                    <div class="rating"><img src="images/icon/star.png"><img src="images/icon/star.png"><img src="images/icon/star.png"><img src="images/icon/star.png"><img src="images/icon/star.png"></div>
                </div>
                <div class="rev-cont">
                    <p id="title">Review:</p>
                    <p id="content">
                        This was my first complete course at coding blocks. I attended the Python course in Winter 2020 and loved it which made me join the full course. Shubham bhaiya and Ayush Bhaiya(TA) have good knowledge about the field and were very helpful in making us understand the concepts. I would certainly recommend this to anyone...
                    </p>
                </div>
            </div>
        </div>
      </div>
        <section id="contact">
            <!--socail----------->
            <div class="social">
               <!--icons--------->
               <a href="#"
                  ><i class="fab fa-facebook-f"></i
               ></a>
               <a href="#"><i class="fab fa-twitter"></i></a>
               <a href="#"><i class="fab fa-instagram"></i></a>
               <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>
            <!--contact-box------------->
            <div class="contact-box">
               <!--heading---------->
               <div class="c-heading">
                  <h1>Get In Touch</h1>
                  <p>
                     Call Or Email Us Regarding Question Or
                     Issues
                  </p>
               </div>
               <!--inputs------------------>
               <div class="c-inputs">
                  <form>
                     <input
                        type="text"
                        placeholder="Full Name"
                     />
                     <input
                        type="email"
                        placeholder="Example@gmail.com"
                     />
                     <textarea
                        name="message"
                        placeholder="Write Message"
                     ></textarea>
                     <!--sumbit-btn----------->
                     <button>SEND</button>
                  </form>
               </div>
            </div>
            <!--map------------------->
            <div class="map">
               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d224345.83922897498!2d77.06889631641812!3d28.527582007563804!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfd5b347eb62d%3A0x52c2b7494e204dce!2sNew%20Delhi%2C%20Delhi!5e0!3m2!1sen!2sin!4v1679405436669!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
         </section>
        
      </body>
      <%- include('partials/footer'); %>
</html>