<%- include('partials/header', { donateClass: 'active', homeClass: '', dictClass:'', teamClass:'', serviceClass:'', contactClass:'', quizClass:'', blogClass:''}); %>
<form>
    <script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_LQdhKvtGH2b9C6" async>
 </script> 
 </form>

<%- include('partials/footer'); %>
