<!-- TEAM -->
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="png" href="../images/books.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Team</title>
</head>
<body>
    <!-- NAVIGATION -->

<%- include('../partials/header', { donateClass: '', homeClass: '', dictClass:'', teamClass:'', serviceClass:'', contactClass:'', quizClass:'', blogClass:''}); %>

	
    
<div class="diffSection" id="team_section">
    <center><p style="font-size: 50px; padding-top: 100px; padding-bottom: 60px;">Our Team</p></center>
    <div class="totalcard">
        <div class="card">
            <center><img src="images/icon/woman.png"></center>
            <center><div class="card-title">Ishika Jain</div>
            <div id="detail">
                <p>“ Currently persuing Bachelor of technology ( Information technology )..I am programming  enthusiast...Gaining new skill sets and qualifications  and want to get opportunities to improve my confidence levels and to sharpen my skills... “</p>
                <div class="duty"></div>
                <div class = "links">
                    <a href="https://www.linkedin.com/in/ishika-j-83286a224/" target="_blank"><img src ="images\linkedin4.png"></button></a>
                    <a href="https://www.instagram.com/jainishi02/" target="_blank"> <img src ="images\instagram.png"></button></a>
                    <a href="https://github.com/Ishikajain02" target="_blank"><img src ="images\github.png"></button></a>
                    
                  </div>
            </div>
            </center>
        </div>
        <div class="card">
            <center><img src="images/icon/user.png"></center>
            <center><div class="card-title">Mayank Jain</div>
            <div id="detail">
                <p>“ Real education should consist of drawing the goodness and the best out of our own students. What better books can there be than the book of humanity “</p>
                <div class="duty"></div>
                <!--<div class = "links">
                    <a href="#"><img src="images\linkedin.png"></a>
                    <a href="#"><img src="images\tt.png"></a>
                    <a href="#"><img src="images\insta.png"></a>
                </div>-->
                <div class = "links">
                <a href="https://linkedin.com/in/mayankjain1784" target="_blank"><img src ="images\linkedin4.png"></button></a>
                <a href="https://www.instagram.com/mayankjain865" target="_blank"> <img src ="images\instagram.png"></button></a>
                <a href="@mayankjain1784" target="_blank"><img src ="images\github.png"></button></a>
       
              </div>
            </div>
            </center>
        </div>
        <div class="card">
            <center><img src="images/icon/girl.png"></center>
            <center><div class="card-title">Gunjan Rathore</div>
            <div id="detail">
                <p>“ I am a btech (IT) student. My Tech stack is Web Development. I am always very much interested in exploring new things and developing my skills. I like to work with people . Working hard to achieve milestones. “</p>
                <div class="duty"></div>
                <div class = "links">
                    <a href="https://www.linkedin.com/in/gunjan-rathore-0a718223b/" target="_blank"><img src ="images\linkedin4.png"></button></a>
                    <a href="" target="_blank"> <img src ="images\instagram.png"></button></a>
                    <a href="" target="_blank"><img src ="images\github.png"></button></a>
           
                  </div>
            </div>
            </center>
        </div>
        <div class="card">
            <center><img src="images/icon/man.png"></center>
            <center><div class="card-title">Ayush Sharma</div>
            <div id="detail">
                <p>“ Real education should consist of drawing the goodness and the best out of our own students. What better books can there be than the book of humanity “</p>
                <div class="duty"></div>
                <div class = "links">
                    <a href="" target="_blank"><img src ="images\linkedin4.png"></button></a>
                    <a href="" target="_blank"> <img src ="images\instagram.png"></button></a>
                    <a href="" target="_blank"><img src ="images\github.png"></button></a>
           
                  </div>
            </div>
            </center>
        </div>
    </div>
</div>
<!-- FOOTER -->
<%- include('../partials/footer'); %>


</body>
</html>