*{
    align-items: center;
    align-content: center;
    position: relative;
}



.separator-type, .title-type, .intro-type, .content-type .intro-type p {
    position: relative;
}
.intro-type .container {
    padding: 107px 0px 102px 0px !important;
}
#product-header-section, .intro-type .container {
    padding: 68px 15px 72px !important;
}

.parallax {
    background-attachment: inherit !important;
}
.parallax {
    background-attachment: inherit !important;
    background-repeat: repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    z-index: -10;
}
.company-heading h1 {
    margin-bottom: 40px;
    line-height: 80px;
    color: #fff;
    font-weight: 700 !important;
    text-align: center;
}
.seo-header, .product-header, .intro-type .container h1.white, .company-heading h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100 !important;
    text-transform: capitalize;
    font-size: 65px;
    margin-bottom: 20px;
}
.company-sections h2, .careers-sections h2, .perks-section h2 {
    font-weight: 800;
    font-size: 50px;
}
.company-sections h2, .company-sections h3, .careers-sections h2, .perks-section h2 {
    font-family: 'proxima-nova', sans-serif;
}
.company-sections h3 {
    font-size: 25px;
    font-weight: 700;
    margin: 14px 0;
    font-family: 'proxima-nova', sans-serif;
    text-transform: capitalize;
}
.red-border {
    width: 50%;
    border-bottom: 1px solid #d2282e;
    margin: 0 auto;
    height: 16px;
}
.company-sections p {
    margin-top: 20px;
}
.ct-u-size22 {
    font-size: 22px;
}
.ct-u-fontWeight300 {
    font-weight: 300;
}
#makeitfull {
	display: flex;
	justify-content: center;
	transform: translateY(35px);
}
#makeitfull img {
	width: 50px;
}
.review {
	background: #F8F8F8;
	width: 100%;
}
.rev-container {
	padding: 10px 10%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
   position: relative;
}
.rev-container .rev-card {
	/*overflow: hidden;*/
	width: 550px;
	height: 240px;
	margin-bottom: 40px;
	background: #fff;
	display: flex;
	padding: 10px;
	box-shadow: 2px 2px 20px rgba(0,0,0,0.2);
}
.rev-card:hover {
	box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}
.identity {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 10px;
}
.identity img {
	width: 120px;
	height: 120px;
	transition-duration: .8s;
	border-radius: 50%;
}
.identity img:hover {
	transform: scale(2.2);
	border-radius: 0px;
	box-shadow: 0 0 20px rgba(0,0,0,0.3);
}
.identity p {
	width: 150px;
	font-weight: bold;
	color: #2E3D49;
	text-align: center;
}
.identity h6 {
	width: 150px;
	text-align: center;
}
.identity .rating img {
	width: 12px;
	height: 12px;
	margin-right: 5px;
}
.rev-cont {
	overflow: hidden;
}
.rev-cont #title {
	padding: 10px;
	color: #2E3D49;
	font-weight: bold;
}
.rev-cont #content {
	padding: 10px;
	font-size: .9em;
	color: #2E3D49;
	line-height: 22px;
	text-align: justify;
}
#about_section {
	font-family: 'Open Sans', sans-serif;
	color: #2E3D49;
	position: relative;
}
.diffSection {
	width: 100%;
	/*position: relative;*/
	justify-content: center;
	align-items: center;
}
.diffSection .content {
	margin: 10px;
	text-align: center;
	padding: 10px 100px;
	font-size: 1.1em;
}
/*Contact us*/
body {
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
    font-family: 'Noto Sans', sans-serif;
    position: relative;
 }
 a {
    text-decoration: none;
 }
 .social a {
    padding: 20px;
    color: #7b7c7c;
    font-size: 1.1rem;
 }
 #contact {
    position: absolute;
    left: 50%;
    top: 115%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
 }
 .social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
 }
 .social a:hover {
    color: #000000;
    transition: all ease 0.3s;
 }
 .contact-box {
    background-color: #434445;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 30px;
    box-shadow: 2px 0px 30px rgba(0, 0, 0, 0.1);
 }
 .c-heading h1 {
    font-family: 'Noto Sans', sans-serif;
    color: #e7eef3;
    font-size: 2.5rem;
    font-weight: lighter;
    margin: 0px;
    padding: 0px;
 }
 .c-heading p {
    font-family: 'Noto Sans', sans-serif;
    color: #cecece;
    font-size: 0.8rem;
    font-weight: lighter;
    margin: 0px;
    padding: 0px;
    text-align: center;
 }
 .c-inputs {
    margin: 15px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .c-inputs input {
    width: 250px;
    height: 45px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(251, 251, 251, 0.1);
    outline: none;
    margin: 10px 0px;
    padding: 10px;
    box-sizing: border-box;
    color: #f4f4f4;
    display: flex;
 }
 .c-inputs textarea {
    width: 250px !important;
    height: 200px !important;
    outline: none;
    background-color: transparent;
    border: 1px solid rgba(82, 82, 82, 1);
    color: #f4f4f4;
    padding: 10px;
    font-size: 1.2rem;
    box-sizing: border-box;
 }
 .c-inputs button {
    width: 200px;
    height: 40px;
    background-color: #ffffff;
    border: none;
    outline: none;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    letter-spacing: 1px;
 }
 .c-inputs input:focus {
    border-bottom: 1px solid rgba(252, 252, 252, 1);
    transition: all ease 0.5s;
 }
 .c-inputs textarea:focus {
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    transition: all ease 0.5s;
    background-color: rgba(0, 0, 0, 0.1);
 }
 .c-inputs button:active {
    transform: scale(1.02);
 }
 .map {
    filter: grayscale(0.2);
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    border: 2px solid #ffffff;
 }
 @media (max-width: 1100px) {
    .map {
       display: none;
    }
 }
 @media (max-width: 450px) {
    .social {
       display: none;
    }
    .contact-box {
       width: 100%;
       height: 100vh;
       box-sizing: border-box;
    }
    #contact {
       position: static;
       transform: translate(0, 0);
       width: 100%;
       height: 100vh;
       box-sizing: border-box;
    }
    .c-heading h1 {
       font-size: 2.2rem;
       text-align: center;
    }
 }
 