@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap");
* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  
}


img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #25195f;
}

section {
  padding: 5rem 10%;
}

.heading-link {
  text-align: center;
  background: url(https://cdn.vectorstock.com/i/preview-1x/96/91/set-line-audio-book-book-donation-and-online-quiz-vector-44229691.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

/* .heading-link h3 {
  font-size: 4rem;
  text-transform: capitalize;
  color: #444;
} */
/* section .container{
  width: 500px;
  height: 300px;
  margin: 200px auto;
}

.glass{
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
} */

.heading-link p {
  font-size: 2rem;
  line-height: 2;
  color: #0a0a0a;
}

.heading-link p a {
  color: #0b0c5c;
}

.heading-link p a:hover {
  text-decoration: underline;
}

.heading {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 3.5rem;
  text-transform: capitalize;
  color: #444;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  border: 0.1rem solid #3a9dbb;
  background: #f0fdfa;
  color: #37c9c9;
  cursor: pointer;
  text-transform: capitalize;
}

.btn:hover {
  background: #081963;
  color: #fff;
}




.home {
  padding: 0;
}

.home .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60rem;
  background-size: cover !important;
  background-position: center !important;
}

.home .slide .content {
  width: 50rem;
}

.home .slide .content h3 {
  font-size: 5rem;
  text-transform: capitalize;
  color: #444;
  color: #0a0404;
}
.container .content{
  font-size: 5rem;
  text-transform: capitalize;
  color: #444;
  color: rgb(175, 95, 95);
}

.home .slide .content p {
  font-size: 1.6rem;
  line-height: 2;
  color: #777;
  color: #eee;
  padding: 1rem 0;
}

.swiper-pagination-bullet-active {
  background: #7ce7e7;
}

.subjects .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
}

.subjects .box-container .box {
  padding: 3rem 2rem;
  text-align: center;
  border: 0.1rem solid #8bf3fa;
  background: #f0fdfa;
  cursor: pointer;
}

.subjects .box-container .box:hover {
  background: #082c5c;
}

.subjects .box-container .box:hover h3 {
  color: #fff;
}

.subjects .box-container .box:hover p {
  color: #eee;
}

.subjects .box-container .box img {
  height: 10rem;
  margin-bottom: .7rem;
}

.subjects .box-container .box h3 {
  font-size: 1.7rem;
  text-transform: capitalize;
  color: #444;
  padding: .5rem 0;
}

.subjects .box-container .box p {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
}

.home-courses .slide {
  text-align: center;
  position: relative;
  background: #f0fdfa;
  overflow: hidden;
  display: flex;
  width: 290px;
  height: 420px;
  margin-right: 40px;
}

.home-courses .slide:hover .content {
  bottom: 0;
}

.home-courses .slide .image {
  padding: 2rem;
}

.home-courses .slide .image img {
  width: 100%;
  margin-bottom: 1.5rem;
  display:flex;
}

.home-courses .slide .image h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
}

.home-courses .slide .content {
  position: absolute;
  bottom: -100%;
  right: 0;
  left: 0;
  background: #55dfe4;
  padding: 2rem 3rem;
  
}

.home-courses .slide .content h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
  color: #fff;
}

.home-courses .slide .content p {
  padding: 1rem 0;
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
  color: #eee;
}

.home-courses .slide .content .btn:hover {
  background: #444;
}


.teachers .slide {
  text-align: center;
}

.teachers .slide:hover .image img {
  background: #61f3f8;
}

.teachers .slide:hover .image .share {
  bottom: 0;
}

.teachers .slide .image {
  position: relative;
  overflow: hidden;
}

.teachers .slide .image img {
  background: #f0fdfa;
  width: 100%;
}

.teachers .slide .image .share {
  position: absolute;
  bottom: -10rem;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  padding: 2rem;
}

.teachers .slide .image .share a {
  font-size: 3rem;
  margin: 0 1rem;
  color: #fff;
}

.teachers .slide .image .share a:hover {
  color: #74f4fd;
}

.teachers .slide .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.teachers .slide .content h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
}

.teachers .slide .content span {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
}

.reviews .slide {
  text-align: center;
}

.reviews .slide p {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
  position: relative;
  background: #f0fdfa;
  border: 0.1rem solid #7be9e9;
  margin-bottom: 3rem;
  padding: 2rem;
}

.reviews .slide p::before {
  content: '';
  position: absolute;
  bottom: -1.2rem;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
  background: #f0fdfa;
  border-bottom: 0.1rem solid #7ae4f7;
  border-right: 0.1rem solid #93e2f0;
  height: 2rem;
  width: 2rem;
}

.reviews .slide img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
}

.reviews .slide h3 {
  font-size: 2.2rem;
  text-transform: capitalize;
  color: #444;
  padding: .5rem 0;
}

.reviews .slide .stars {
  font-size: 1.2rem;
  color: #89f1f8;
}

.courses .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.courses .box-container .box:hover .image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.courses .box-container .box.hide {
  display: none;
}

.courses .box-container .box .image {
  height: 25rem;
  overflow: hidden;
  position: relative;
}

.courses .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.courses .box-container .box .image h3 {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: #444;
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: .5rem 1.5rem;
  background: #fff;
}

.courses .box-container .box .content {
  padding: 2rem;
  text-align: center;
  border: 0.1rem solid #72ece6;
}

.courses .box-container .box .content h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
}

.courses .box-container .box .content p {
  padding: 1rem 0;
  font-size: 1.6rem;
  line-height: 2;
  color: #777;
}

.courses .box-container .box .content .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 0.1rem solid #6ff2f7;
}

.courses .box-container .box .content .icons span {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: #444;
}

.courses .box-container .box .content .icons span i {
  color: #86ecf0;
  padding-right: .5rem;
}

.courses .load-more {
  margin-top: 2rem;
  text-align: center;
}

/*.contact .icons-container {
  margin-bottom: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.contact .icons-container .icons {
  text-align: center;
  padding: 3rem 2rem;
  border: 0.1rem solid #7ddbe2;
  background: #f0fdfa;
}

.contact .icons-container .icons i {
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  font-size: 2rem;
  border-radius: 50%;
  margin-bottom: .5rem;
  color: #fff;
  background: #70dbee;
}

.contact .icons-container .icons h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
  padding: .5rem 0;
}

.contact .icons-container .icons p {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
}

.contact .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.contact .row .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.contact .row .image img {
  width: 100%;
}

.contact .row form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  border: 0.1rem solid #74ddf0;
  padding: 2rem;
}

.contact .row form h3 {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: #444;
  padding-bottom: 1rem;
}

.contact .row form .box {
  width: 100%;
  padding: 1.2rem 1.4rem;
  border: 0.1rem solid #73eeee;
  font-size: 1.6rem;
  margin: .7rem 0;
}

.contact .row form .box:focus {
  background: #7ae9ec;
  color: #fff;
}

.contact .row form .box:focus::-webkit-input-placeholder {
  color: #eee;
}

.contact .row form .box:focus:-ms-input-placeholder {
  color: #eee;
}

.contact .row form .box:focus::-ms-input-placeholder {
  color: #eee;
}

.contact .row form .box:focus::placeholder {
  color: #eee;
}

.contact .row form textarea {
  height: 15rem;
  resize: none;
}

.faq .accordion-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.faq .accordion-container .accordion {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  border: 0.1rem solid #8ef6fd;
}

.faq .accordion-container .accordion.active .accordion-heading {
  background: #65d4e2;
}

.faq .accordion-container .accordion.active .accordion-heading h3 {
  color: #fff;
}

.faq .accordion-container .accordion.active .accordion-heading i {
  color: #fff;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.faq .accordion-container .accordion.active .accordion-content {
  display: block;
}

.faq .accordion-container .accordion .accordion-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
  cursor: pointer;
  padding: 1.5rem;
}

.faq .accordion-container .accordion .accordion-heading h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
}

.faq .accordion-container .accordion .accordion-heading i {
  font-size: 2rem;
  color: #7ad2ec;
}

.faq .accordion-container .accordion .accordion-content {
  padding: 1.5rem;
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
  border-top: 0.1rem solid #82e8f0;
  display: none;
}


*/

