* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	scroll-behavior: smooth;
}
body {
	background: #FFF;
	font-family: 'Open Sans', sans-serif;
}

header {
	height: 90vh;
	/* background: #000; */
}
.black {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}
/*SCROLLBAR Styling*/
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #16bbe4;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #2416e9; 
}

/*NAVIGATION BAR*/
nav {
	padding-top: 20px;
	padding-bottom: 20px;
	top: 0;
	position: fixed;
	display: flex;
	width: 100%;
	z-index: 1000;
	background: #fff;
	justify-content: space-around;
	transition: 1.5s;
	align-items: center;
}
nav ul {
	display: flex;
	align-items: center;
}
nav ul li {
	list-style: none;
	margin: 5px 10px;
}
nav ul li a {
	padding: 2px 10px;
	color: #2e2e2e;
	cursor: pointer;
	transition: .5s;
	text-decoration: none;
}
nav ul li a:hover {
	color: #fff;
	border-radius: 5px;
	background: darkblue;
}
.active {
	color: #fff;
	border-radius: 5px;
	background: darkblue;
}
/*.srch {
	padding: 2px 10px;
	display: flex;
	 align-items: center; 
	justify-content: center;
	/* background: #0066ff; 
	border: 1px solid;
	border-radius: 20px;
}
.srch img {
	width: 25px;
	cursor: pointer;
}
.srch .search {
	/* padding: 2px 10px; 
	outline: none;
	border: none;
	background: transparent;
}
*/

.get-started {
	margin-left: 50px;
	padding: 5px 20px;
	border: 2px solid darkblue;
	border-radius: 20px;
	text-decoration: none;
	
	transition: .5s;
	background-color: darkblue;
	color: #fff;
}
.get-started:hover {
	color: #2e2e2e;
	background: #fff;
}
.logo img{
	width: 120px;
	cursor: pointer;
	transition: all 1s;
}

a, button {
	float: left;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 15px;
	color: #2E3D49;
	display: block;
	text-decoration: none;
	text-align: center;
}
.head-container {
	margin-top: 245px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}
header {
	height: 90vh;
	/* background: #000; */
}
.quote {
	width: 600px;
	transform: translateY(-50px);
}
.quote h5 {
	margin-top: 20px;
	color: #0009;
	line-height: 20px;
}
.quote p {
	font-size: 50px;
	color: #2e2e2e;
}
.quote .play {
	margin-top: 20px;
	display: flex;
	/* justify-content: center; */
	align-items: center;
}
.quote .play img {
	width: 45px;
	cursor: pointer;
	filter: drop-shadow(0 0 10px #0002);
}
.quote .play span a{
	margin-left: 10px;
	font-size: 20px;
	font-weight: 900;
	color: rgba(0, 0, 0, 0.8);
	cursor: pointer;
}
.svg-image img{
	width: 500px;
	filter: drop-shadow(0 20px 10px rgba(0,0,0,0.2));
}


/* SIDE MENU */
.menu {
	cursor: pointer;
	width: 25px;
	display: none;
}
.side-menu {
	width: 100%;
	height: 100%;
	background: darkblue;
	position: absolute;
	top: 0;
	transition: .8s;
	z-index: 2000;
	transform: translateX(-100%);
}
.side-menu ul {
	margin-top: 35%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* background: #FA4B37; */
}
.side-menu ul li {
	list-style: none;
	/* background: #009900; */
	display: flex;
	justify-content: center;
	align-items: center;
	/* border-bottom: 1px solid #fff; */
	/* padding: 10px 0px; */
}
.side-menu ul li:hover a{
	background: #fff;
	color: darkblue;
}
.side-menu ul li a{
	color: #FFF;
	width: 100%;
	font-size: 1em;
	/* background: #2E3D49; */
	text-decoration: none;
	padding: 15px 0px;
}
.close img{
	float: right;
	width: 35px;
	cursor: pointer;
	margin: 10px;
}
.user {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10%;
}
.user img {
	width: 60px;
	border-radius: 50%;
	border: 2px solid #fff;
	filter: drop-shadow(0 10px 20px #0004);
	margin-right: 30px;
	cursor: pointer;
}
.user p {
	color: #fff;
	cursor: pointer;
}
.user img, .user p {
	opacity: 1;
}

/*Title*/
.title {
	margin-top: 0px; 
   font-family: 'Open Sans', sans-serif;
   font-size: 30px;
   text-align: center;
   color: #2E3D49;
}
/*Service Section*/
.service-swipe {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.7)),url("https://www.inventiva.co.in/wp-content/uploads/2021/08/online-education.jpg");
	background-size: cover;
	background-attachment: fixed;
}
.service-swipe .s-card img {
	width: 100px;
}
.service-swipe a {
	padding: 0;
	margin: 40px 10px;
}
.service-swipe .s-card {
	display: flex;
	justify-content: space-around;
	padding: 10px;
	align-items: center;
	text-align: center;
	width: 350px;
	height: 200px;
	box-shadow: inset 0 0 20px rgba(255,255,255,0.05),
					0 0 50px rgba(0,0,0,0.8);
	border-radius: 5px;
	cursor: pointer;
	transition-duration: .5s;
}
.service-swipe .cards{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	
}
.service-swipe .s-card p {
	color: #f2f2f2;
	font-size: 1.2em;
	font-family: 'Open Sans',sans-serif;
}
.service-swipe .s-card:hover {
	box-shadow: 0 0 50px rgba(255,255,255,0.8);
	transform: translateY(-10px);
}


/*TITLE*/
.title {
	margin-top: 150px;
	margin-left: 100px;
}
.title span{
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
	font-size: 60px;
	color: #2E3D49;
}
.title .shortdesc {
	padding: 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	color: #2E3D49;
	margin-bottom: 50px;
}

/*Quick Links*/
.course {
	display: grid;
	justify-content: center;
}

.cbox {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
}
.cbox .det {
	height: 60px;
	margin: 10px;
	background: #fff;
	cursor: pointer;
	border-radius: 50px;
}
.cbox .det a{
	justify-content: space-around;
	width: 100%;
	padding: 20px;
	border-radius: 50px;
	border: 1px solid #2b0397;
	font-size: 15px;
	color: #272529;
	font-family: cursive;
	text-decoration: none;
}

.cbox .det a:hover{
	background: linear-gradient(to right, #53c8ff, #19066b);
	color: white;
}

.inbt {
	padding: 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	color: #2E3D49;
	margin: 100px;
	margin-bottom: 50px;
}

/*COURSES AVAILABLE*/
.ccard {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.ccardbox {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.dcard {
	margin: 10px;
	width: 300px;
	height: 200px;
	background: linear-gradient(to right, #3910ec, #1877b6);
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.dcard .fpart {
	width: inherit;
	height: 150px;
	color: #000;
	text-align: left;
	overflow: hidden;
}
.dcard .fpart img {
	width: 100%;
	height: 100%;
}

.dcard .spart {
	padding: 10px;
	padding-right: 0px;
	color: #fff;
	text-align: left;
	cursor: pointer;
}
.dcard .spart img {
	width: 20px;
	margin-left: 170px;
	cursor: pointer;
	/* transform: rotate(180deg); */
}

.dcard:hover .fpart img{
	transition: .8s ease;
	transform: scale(1.2);
}

/*Small Titles for  Topics*/
.title2 {
	position: relative;
	padding-top: 150px;
	margin-left: 100px;
}
.title2 span{
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	color: #2E3D49;
}
.title2 .shortdesc2 {
	padding: 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color: #2E3D49;
	margin-bottom: 10px;
}

/*Videos Section*/
.ccardbox2 {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.dcard2 {
	margin: 20px;
	width: 300px;
	height: 160px;
	background: linear-gradient(to right, #0643b4, #64a1db);
	border-radius: 10px;
}
.dcard2:hover .fpart2 img {
	display: none;
}
.dcard2 .fpart2 { 
	width: inherit;
	height: 180px;
	background: #000;
	color: #000;
	text-align: left;
	border-top-right-radius: 100px;
	transform: translateY(-19px);
	box-shadow: 0 0 20px rgba(0,0,0,0.4);
	overflow: hidden;
}
.dcard2 .tag {
	position: relative;
	margin-left: 270px;
	top: 10px;
	color: #fff;
}
.dcard2 .fpart2 img {
	width: 100%;
	height: 100%;
}
.fpart2 iframe {
	height: inherit;
	width: inherit;
}

/*Watch Full Playlist*/
.click-me {
	justify-content: center;
	display: flex;
}
.click-me a {
	color: #2a27df;
	text-decoration: none;
	transition-duration: .5s;
	padding: 10px;
}
.click-me a:hover {
	background: #33adff;
	color: #fff;
}

/*PROJECTS*/
.project-panel {
	/*background: #000;*/
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.project-card {
	width: 250px;
	/*height: 220px;*/
	background: #fff;
	margin-right: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}
.project-card img {
	width: inherit;
	/*height: 140px;*/
}
.project-card:hover {
	transform: scale(1.2);
	transition: .5s ease;
}
.project-card:hover .download a{
	visibility: visible;
}
.project-card .info {
	padding: 10px;
}
.project-card .info h4 {
	color: #2E3D49;
}
.project-card .info p {
	font-size: 12px;
}
.download {
	margin-top: 10px;
	display: flex;
	justify-content: center;
}
.download a{
	padding: 5px 10px;
	color: #2a27df;
	font-size: .8em;
	visibility: hidden;
}
.download:hover a{
	transition: .5s ease;
	background: #3e1cda;
	color: #fff;
}


/*Sample Papers*/

.sample {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}
.lastSample {
	margin-bottom: 100px;
}
.sample ul {
	margin: 20px;
}

.sample ul li{
	padding: 28px;
	list-style: none;
}

.sample ul li a {
	color: #372aee;
	width: 300px;
	font-size: 20px;
}

/*Footer*/


footer {
	color: #E5E8EF;
	background: rgba(2, 23, 44, 0.867);
	padding: 50px 0; 
}
footer .footer-container {
	max-width: 1300px;
	margin: auto;
	padding: 0 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap-reverse;
}
footer .social-media img{
	width: 22px;
}
footer .logo {
	width: 150px;
	color: #fff;
}
footer .social-media a{
	margin-right: 10px;
	font-size: 22px;
	text-decoration: none;
}
footer .right-col h1{
	font-size: 26px;
}
footer .border{
	width: 100px;
	height: 4px;
	background: linear-gradient(to right, #490eeb, #53dce0);
	margin: 2px;
}
footer .newsletter-form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
footer input::placeholder {
  color: white !important;
}
footer .txtb {
	flex: 1;
	padding: 18px 40px;
	font-size: 16px;
	background: #4c565f;
	border: none;
	font-weight: 700;
	outline: none;
	border-radius: 5px;
	min-width: 260px;
	margin-top: 20px;
	color: white;
}
footer .btn {
	margin-top: 20px;
	padding: 18px 40px;
	font-size: 16px;
	color: #f1f1f1;
	background: linear-gradient(to right, #0c1353, #7cc8fa);
	border: none;
	font-weight: 700;
	outline: none;
	border-radius: 5px;
	margin-left: 20px;
	cursor: pointer;
	transition: opacity .3s linear;	
}
footer .btn:hover {
	opacity: .7;
}
/*For Responsive Website*/
@media screen and (max-width: 960px) {
	.footer-container {
		max-width: 600px;
	}
	.right-col {
		width: 100%;
		margin-bottom: 60px;
	}
	.left-col {
		width: 100%;
		text-align: center;
	}
	.social-media {
		display: flex;
		justify-content: center;
	}
}

@media screen and (max-width: 700px) {
	footer .btn{
		margin: 0;
		width: 100%;
		margin-top: 20px;
	}
}
@media screen and (max-width: 1366px) {
	.search {
		display: none;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 1000px) {
	.nav ul, .nav .search {
		display: none;
	}
	.nav #learned-logo {
		transition: 1s ease;
		margin-left: 40%;
		transform: scale(1.5);
	}
	.nav ul li{
		width: 100%;
		margin-bottom: 5px;
	}
	.nav .switch-tab {
		visibility: visible;
	}
	.nav .check-box {
		visibility: visible;
	}
	.search {
		visibility: visible;
		margin: 30px;
		margin-top: 0px;
	}
}