<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>books</title>

   <!-- font awesome cdn link  -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

   <!-- swiper css link  -->
   <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

   <!-- custom css file link  -->
   
   <!-- header section starts-->


   <!-- account form section starts  -->
<body>

 
   <section style="padding-top:0px; " >
        <div style="float: right; background-color: #F0FDFA;">
           <p style="font-size: 15px;">Translate this page:</p>
        <div   id="google_translate_element"></div>
        </div>
        
     </section>
    
 
 <!-- account form section ends -->
 
 <!-- header section ends -->
    
 </section>
 <section class="heading-link">
    <!--<section style="padding-top:0px; " >
        <div style="float: right; background-color: #F0FDFA;">
           <p style="font-size: 15px;">Translate this page:</p>
        <div   id="google_translate_element"></div>
        </div>
        
     </section>-->
     <h1>DONATE E-BOOKS</h1>
     <p> <a href="home.html">home</a> / DONATE E-BOOKS </p>
  </section>
 
  <section>
     <div class="contact">
       <div class="row">
 
          <!-- <div class="image">
             <img src="images/contact-img.png" alt="">
          </div> -->
          
    
          <form id="form" >
             <h3>ADD BOOK</h3>
             <input type="text" placeholder="Name" class="box" id="name" required>
             <input type="email" placeholder="Email" class="box" id="email" required>
             <input type="text" placeholder="Phone" class="box" id="phone" required>
             <input type="text" placeholder="Subject" class="box" id="subject" required>
             <input type="text" placeholder=" Book Author" class="box" id="author" required>
             <input type="file" name="upload" id="file" class="box" accept="application/pdf,application/vnd.ms-excel" />
             <input type="submit" value="ADD E-BOOK" class="btn">
          </form>
    
       </div>
     </div>
  </section>
  
 
 
 
 
 
<!--footer starts--> 







<!-- swiper js link  -->
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

<!-- custom js file link  -->
<script src="js/script.js"></script>


<script>
   var form=document.getElementById('form')
   form.addEventListener('submit',function(event){
      event.preventDefault()

      var username=document.getElementById('name').value
      console.log(username)

      var email=document.getElementById('email').value
      console.log(email)

      var PhoneNo=document.getElementById('phone').value
      console.log(PhoneNo)

      var Subject=document.getElementById('subject').value
      console.log(Subject)

      var BookAuthor=document.getElementById('author').value
      console.log(BookAuthor)
      var Doc=document.getElementById('file').value
      console.log(Doc)
      
   })
</script>

<script type="text/javascript">
   function googleTranslateElementInit() {
     new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
   }
   </script>
   
   <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</body>

</html>
<style>
    @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap");
* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  
}


img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #091a46;
}

section {
  padding: 5rem 10%;
}

.heading-link {
  text-align: center;
  background: url(../images/heading-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

/* .heading-link h3 {
  font-size: 4rem;
  text-transform: capitalize;
  color: #444;
} */
/* section .container{
  width: 500px;
  height: 300px;
  margin: 200px auto;
}

.glass{
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
} */

.heading-link p {
  font-size: 2rem;
  line-height: 2;
  color: #777;
}

.heading-link p a {
  color: #0c1158;
}

.heading-link p a:hover {
  text-decoration: underline;
}

.heading {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 3.5rem;
  text-transform: capitalize;
  color: #444;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  border: 0.1rem solid #1b0641;
  background: #f0fdfa;
  color: #150a47;
  cursor: pointer;
  text-transform: capitalize;
}

.btn:hover {
  background: #072342;
  color: #fff;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}





.contact .icons-container {
  margin-bottom: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.contact .icons-container .icons {
  text-align: center;
  padding: 3rem 2rem;
  border: 0.1rem solid #04073a;
  background: #f0fdfa;
}

.contact .icons-container .icons i {
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  font-size: 2rem;
  border-radius: 50%;
  margin-bottom: .5rem;
  color: #fff;
  background: #020629;
}

.contact .icons-container .icons h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
  padding: .5rem 0;
}

.contact .icons-container .icons p {
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
}

.contact .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.contact .row .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.contact .row .image img {
  width: 100%;
}

.contact .row form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  border: 0.1rem solid #06032e;
  padding: 2rem;
}

.contact .row form h3 {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: #444;
  padding-bottom: 1rem;
}

.contact .row form .box {
  width: 100%;
  padding: 1.2rem 1.4rem;
  border: 0.1rem solid #0a043f;
  font-size: 1.6rem;
  margin: .7rem 0;
}

.contact .row form .box:focus {
  background: #13023a;
  color: #fff;
}

.contact .row form .box:focus::-webkit-input-placeholder {
  color: #eee;
}

.contact .row form .box:focus:-ms-input-placeholder {
  color: #eee;
}

.contact .row form .box:focus::-ms-input-placeholder {
  color: #eee;
}

.contact .row form .box:focus::placeholder {
  color: #eee;
}

.contact .row form textarea {
  height: 15rem;
  resize: none;
}

.faq .accordion-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.faq .accordion-container .accordion {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  border: 0.1rem solid #0a0230;
}

.faq .accordion-container .accordion.active .accordion-heading {
  background: #050942;
}

.faq .accordion-container .accordion.active .accordion-heading h3 {
  color: #fff;
}

.faq .accordion-container .accordion.active .accordion-heading i {
  color: #fff;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.faq .accordion-container .accordion.active .accordion-content {
  display: block;
}

.faq .accordion-container .accordion .accordion-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
  cursor: pointer;
  padding: 1.5rem;
}

.faq .accordion-container .accordion .accordion-heading h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
}

.faq .accordion-container .accordion .accordion-heading i {
  font-size: 2rem;
  color: #090733;
}

.faq .accordion-container .accordion .accordion-content {
  padding: 1.5rem;
  font-size: 1.5rem;
  line-height: 2;
  color: #777;
  border-top: 0.1rem solid #0a043a;
  display: none;
}











.logo-container {
  text-align: center;
}

.logo-container img {
  height: 10rem;
  pointer-events: none;
}







/*table css*/
table{
  width: 900px;
  height: 1000px;
}
.content-table {

  overflow: hidden;
  font-size: 3 rem;
  margin-left: 300px;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.15);
}
thead tr th{
  width: 500px;
  background-color: #22ccaa;
}
tr {
  transition: all .2s ease-in;
  cursor: pointer;
}
tr:hover{
  /* background-color: #009879; */
  transform: scale(1.02);
}
.content-table thead tr {
  background-color: white;
  color: #000000;
  text-align: left;
  font-weight: bold;
}

td,th{
  font-size: 2rem;
}
.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #070236;
}

.graph1, .graph2{
  width: 200px;
  height: 200px;
}




@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .heading {
    font-size: 3rem;
  }
  .about .content .about-title {
    font-size: 4rem;
  }
}
/*# sourceMappingURL=style.css.map */
</style>